.DS_Store
desktop.ini

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

.sass-cache/*
uploads/*.png
uploads/*.jpg
uploads/*.bmp
uploads/*.pdf
uploads/*.jpeg
uploads/*.gif
uploads/*.txt

*.zip
*.rar
*.gz


application/third_party/mpdf/tmp/*
