.form-document .control-label{
  
}

.form-document{
	.control-label{
		text-align:right;
		margin-bottom:0;
		padding-top:8px;
		font-weight:bold;
	}
}


.form-document{
	.mcdr-label{
		margin-bottom:0;
		padding-top:8px;
		font-weight:bold;
	}
}