#navbar{
  background:#fff;
  border-bottom:1px solid #777;
}

.navbar{
  .navbar-brand{
    width:140px;
    margin-top:-5px;
    margin-bottom:-8px;
    @media screen and (max-width: 768px){
		width:120px !important;
    }
  }

  @media print{
    border:none !important;
    margin-top:0 !important;
  }

}