

.panel-metric{
	.metric-content{
		.value{
			font-weight:100;
			margin: 20px 0 0 58px;
		}

		.icon,
		.trend{
			margin: 20px 62px 0 0;
		}
	}
}


.panel-metric-sm{
	.metric-content{

		min-height: 85px; 

		.icon{
			.fa{
				font-size: 20px;
    			line-height: 10px; 
			}
		}

		.value{
			font-size: 13px; 
		}
	}
}

.panel-heading{
	@media print{
		border:none !important;
    	margin-top:0 !important;
	}
}

#document-statistics,
#user-info-panel{
  height: auto;
}

#activity-panel{
  max-height: 420px;
}

.panel-body-primary, 
.panel-body-success, 
.panel-body-inverse, 
.panel-body-danger { 
  color: inherit;
  background-color: #8E8E93;
  border-color: #656565;
}

.panel-info,
.panel-inverse{
	.panel-heading{
		color: #FFF;
		/* background-color: #5AD427;
		border-color: #4CD964; */
		background-color:#2ECC71 !important;
		border-color:#27AE60 !important;
	}

	.panel-footer{
		background-color:#f5f5f5 !important;
		border-top:1px solid #ddd !important;
	}
}