

.panel-info,
.panel-inverse{
	.panel-heading{
		color: #FFF;
		/* background-color: #5AD427;
		border-color: #4CD964; */
		background-color:#2ECC71 !important;
		border-color:#27AE60 !important;
	}

	.panel-footer{
		background-color:#f5f5f5 !important;
		border-top:1px solid #ddd !important;
	}
}