.sidebar{
  &.sidebar-fixed-height{
    /* height:560px !important; */
    /* add media-query for mobile */
  }

  &.sidebar-fixed{
    position:fixed;
    margin-top:50px;
    z-index:1000;
  }
  
}


#sidebar-logo{

  height: 145px;
  width: 200px;
  margin:auto auto;
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;

  @media screen and (max-width: 768px){
    height:45px !important;
    width:87px !important;
    margin-top:5px;
    margin-left:-12px;
  }
}

#sidebar-logo-xs{
  width:50px;
  height:50px;
}

#sidebar-logo-small{
  width:32px;
  height:32px;
}


.nav-dropdown{
  &:hover{
    z-index:2000;
  }

  &.nav-dropdown-open{
    z-index:1500;
  }
}


.sidebar-condensed{
  .navbar{
    .navbar-brand{
      padding-left:5px;
      padding-right:5px;
      padding-top:15px;
      padding-bottom:9px;
    }
  }
}


#sidebar-ticker{
  background:#fff;
  .ticker-row{
    border-bottom:1px solid #ccc;
    overflow:hidden;
  }
}


.sidebar-default .nav>li.open>a, .sidebar-default .nav>li>a:hover,
.sidebar-condensed .sidebar-default .nav>li.nav-dropdown-open>a, .sidebar-condensed .sidebar-default .nav>li:hover>a,
.sidebar-condensed .sidebar-default .nav>li.active>a, .sidebar-condensed .sidebar-default .nav>li.active>a:focus, .sidebar-condensed .sidebar-default .nav>li.active>a:hover, .sidebar-default .nav>li.active>a, .sidebar-default .nav>li.active>a:focus, .sidebar-default .nav>li.active>a:hover{
  
  color:#fff;
  /* background:#5AD427;
  border-color:#23b1c8; */
  background-color:#2ECC71;
  border-color:#27AE60;
}

.sidebar-default .active>a, .sidebar-default .active>a:focus, .sidebar-default .active>a:hover{
  font-weight:bold;
}

.sidebar .nav-pills{
  margin:0 !important;
}

.nav-pills>li>a{
  border-radius:0;
}

.sidebar-default{
  margin-top: -50px;
  z-index: 2;
  background-color: #656565;
  a{
    color:#cbcbcb;
  }
}