
@import "panel";
@import "modal";


body{
	background:#fff;
}


#scrollUp {
	bottom: 2px !important;
	right: 2px !important;
	background-color: #555;
	color: #fff;
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: none;
	opacity: .9;
	padding: 12px 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-transition: background 200ms linear;
	-moz-transition: background 200ms linear;
	-o-transition: background 200ms linear;
	transition: background 200ms linear;
	-webkit-backface-visibility: hidden;

}

/*Colors*/
.bg-grey{
	background: #eee;
}

.bg-blue{
	background: #2E64FE;
}

.bg-red{
	background: red;
}

.bg-green{
	background: green;
}

.bg-violet{
	background: #EE82EE;
}


#banner{
	background:#c0392b;
	color:#fff;
	height:100px;
	padding-top:30px;

	.banner-title{
		margin:auto auto;
		font-weight:bold;
		width:400px;
	}
}

#navbar-hs{
	background:#f39c12;
	color:#fff;

	.dropdown{
		&.open{
			.dropdown-toggle{
				color:#fff;
			}
		}
	}

	a{
		color:#000;
		&:hover{
			background:#000;
			color:#fff;
			text-decoration:none;
		}
		&:active{
			color:#fff;
		}
	}
}



.error-message{
	color:red;
}


.success-message{
	color:green;
}






input, textarea, select{
	&.error{
		border:1px solid red;
		color:red;
	}
}















.form-control{
	&.loading, 
	&.not-found, 
	&.requirements{
		padding-top:10px;
	}
}

.quiz-cell{

	text-align:center;

	&.compensate-padding{
		padding:13px;
	}

	input{
		width:50px;
		text-align:center;
		padding:3px;

		&.no-border{
			border:none;
		}
	}

	table{
		margin:auto;
		padding:0;
		border:0;
	}
}

.no-padding{
	padding:0 !important;
}

.hidden{
	display:none;
}




.view-table{
	.action{
		width:130px !important;
	}
}