
@import "panel";
@import "modal";


body{
	background:#fff;
}


#scrollUp {
	bottom: 2px !important;
	right: 2px !important;
	background-color: #555;
	color: #fff;
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: none;
	opacity: .9;
	padding: 12px 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-transition: background 200ms linear;
	-moz-transition: background 200ms linear;
	-o-transition: background 200ms linear;
	transition: background 200ms linear;
	-webkit-backface-visibility: hidden;

}

/*Colors*/
.bg-grey{
	background: #eee;
}

.bg-blue{
	background: #2E64FE;
}

.bg-red{
	background: red;
}

.bg-green{
	background: green;
}

.bg-violet{
	background: #EE82EE;
}


#banner{
	background:#c0392b;
	color:#fff;
	height:100px;
	padding-top:30px;

	.banner-title{
		margin:auto auto;
		font-weight:bold;
		width:400px;
	}
}

#navbar-hs{
	background:#f39c12;
	color:#fff;

	.dropdown{
		&.open{
			.dropdown-toggle{
				color:#fff;
			}
		}
	}

	a{
		color:#000;
		&:hover{
			background:#000;
			color:#fff;
			text-decoration:none;
		}
		&:active{
			color:#fff;
		}
	}
}



.error-message{
	color:red;
}


.success-message{
	color:green;
}



.panel{
	/*margin-bottom:0px;*/

	.panel-heading{
		position:relative;
		.panel-options{
			position:absolute;
			top:10px;
			right:15px;
		}
	}


	.panel-footer{
		.error-message{
			position:absolute;
			top:10px;
			
		}
		.success-message{
			position:absolute;
			top:10px;
		}
	}

	
}


input, textarea, select{
	&.error{
		border:1px solid red;
		color:red;
	}
}







/* start - panel tabs */

/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 26px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 0;
    color: #fff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #000;
    cursor: default;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
    border-bottom-color: transparent;
}

/* end - panel tabs */








.form-control{
	&.loading, 
	&.not-found, 
	&.requirements{
		padding-top:10px;
	}
}

.quiz-cell{

	text-align:center;

	&.compensate-padding{
		padding:13px;
	}

	input{
		width:50px;
		text-align:center;
		padding:3px;

		&.no-border{
			border:none;
		}
	}

	table{
		margin:auto;
		padding:0;
		border:0;
	}
}

.no-padding{
	padding:0 !important;
}

.hidden{
	display:none;
}




.view-table{
	.action{
		width:130px !important;
	}
}